/********  RESET  *************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {
    background-color: var(--body-color);
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**********     VARIABLES       *****************/

:root {
    --body-color: #191816;

    --title-font: "Poppins", sans-serif;
    --text-font: "Roboto", sans-serif;

    --title-color: #D4CCB6;
    --text-color: #AFB6C2;

    --border-color: #868686;
    --yellow: #FFC632;
}

/*********    HEADER    ***************/

header div.header {
    margin-top: 2rem;
    /* margin-left: 0rem; */ /* responsive center */
    /* margin-right: 1.31rem; */ /* responsive center */
    /* margin-bottom: 40.62rem; */ /* responsive center */

    display: flex;
}

header div.header img.logo { 
    width: 7.18rem;
    height: 1.75rem;
    
    margin-right: 13rem; /* responsive center */

    display: flex;
}

/*********** **************/

div.info-login {
    /* margin-left: 1.25rem; */ /* responsive center */
    margin-top: 2.25rem; /* responsive center */
    margin-right: 7rem;

    text-align: inherit;
    display: flex;
}

div.info-login img.login {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem; /* responsive center */
    
    display: flex;
}

div.info-login h1 {
    font: 600 1.5rem var(--title-font);
    color: var(--title-color);
    /* margin-left: 0.62rem; */ /* responsive center */
    margin-right: 1rem; /* responsive center */

    display: flex;
}

div.info-login p {
    font: 500 1rem var(--text-font);
    color: var(--text-color);

    position: absolute;
    display: flex;

    margin-top: 2.68rem;
    margin-left: 0.5rem; /* responsive center */
}

/*   FORMS   */

div h2 {
    font: 600 1.2rem var(--text-font);
    color: var(--text-color);
}

div.email,
div.password {
    /* margin-left: 1.25rem; */ /* responsive center */
}

div.email {
    margin-top: 3rem;
}

div.password {
    margin-top: 1rem;
}

div form {
    margin-top: 0.5rem;

    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 5px;
    align-items: center;

    width: 20.93rem;
    height: 2.75rem;

    display: flex;
}

div form input {
    background-color: var(--body-color);
    border: none;
    
    font: 500 1rem var(--text-font);
    color: whitesmoke;
    width: 17.5rem;
}
/* tirando a borda de quando clica no input */
div form input:focus {
    outline: 0;
}
/* colocando a borda amarela pra quando focar no form */
div form:focus-within {
    border: 1px solid var(--yellow);
    transition: 0.3s;
}

::placeholder {
    font: 500 0.85rem var(--text-font);
}

div form img {
    width: 1.25rem;
}

div form img.mail,
div form img.lock {
    margin-left: 0.75rem;
    margin-right: 0.60rem;
}

div form button img.hidden {
    margin-right: 0.85rem;
}

div form button {
    background-color: transparent;
    border: none;
}

img#nofocus {
    opacity: 1;
    position: absolute;
}

img#focus {
    opacity: 0;
    position: relative;
}

/* CHECKBOX */

div.checkbox {
    margin-top: 1.25rem;
    /* margin-left: 0.8rem; */ /* responsive center */
    margin-right: 0.4rem; /* responsive center */

    display: flex;
}

div.checkbox input {
    display: none;
}

div.checkbox input + label:before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;

    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 5px;

    display: inline-block;
    vertical-align: middle;

    margin-bottom: 0.3rem;
    margin-right: 0.35rem;
}

div.checkbox input:checked + label:before {
    background-color: var(--yellow);
    background-image: url(assets/check.svg);
}

div.checkbox label {
    font: 400 1rem var(--text-font);
    color: var(--text-color);
    
    margin-left: 0.35rem;
    margin-right: 4rem;
}

div.checkbox a {
    font: 600 1rem var(--title-font);
    color: var(--yellow);
    margin-top: 0.15rem; /* pra alinhar o checkbox */
}

/* BUTTON */

div.button {
    margin-top: 1.25rem;
    /* margin-left: 1.25rem; */ /* responsive center */
    /* margin-right: 1.25rem; */ /* responsive center */
    justify-content: center; /* responsive center */

    display: flex;
}

div.button button {
    width: 20.87rem;
    height: 3.18rem;

    background-color: var(--yellow);

    border: none;
    border-radius: 5px;

    font: 600 1.15rem var(--title-font);
    color: #473404;
    letter-spacing: 0.015em;
}

/* REGISTER */

div.register {
    margin-top: 0.9rem;
    /* margin-left: 4.3rem; */
}

div.register p {
    font: 400 1rem var(--title-font);
    color: var(--yellow);
}

div.register p span {
    font: 600 1rem var(--title-font);
}